.cardContainer {
  display: grid;
  gap: $gutter-horizontal;
  grid-auto-flow: dense;
  grid-auto-rows: 60rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 2fr));
  padding: $gutter-horizontal;
}

.row {
  max-width: $grid-width; // this 1140px is kind of an standard size for the width of the
  margin: 0 auto;

  &:not(:last-child) {
    //:not is applying the margin bottom to all children elements but the last one
    margin-bottom: $gutter-vertical;
  }
}
